<a id="ent-link"

  href="https://connexion.l-educdenormandie.fr/"

  title="ENT"

  aria-label="{{ config.site_name }}"

  target="_blank"

>{% include ".icons/bootstrap/ent.svg" %}</a>

</div>



<script type="application/javascript" >

    subscribeWhenReady(

        "EntLink",

        function(){

            // Move the link in the header when ready :

            $(CONFIG.element.searchBtnsRight).append($("#ent-link"))

        },

        {waitFor: CONFIG.element.searchBtnsRight},

    )

</script>
